.flxcont{
	display: flex;
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
}
		.flxcont #txct div{
			margin: 0.5em 0;
		}
@media screen and (max-width: 800px){
	.flxcont{
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.txct,.forct{
		margin: 1em auto;
		width: 90%;
	}
}