h1{
	margin: 0;
	padding: 0;
	text-indent:-9999px;
}
	#frases #busqueda{
		display: flex;
		-webkit-justify-content: flex-end;
		-ms-justify-content: flex-end;
		justify-content: flex-end;
		margin-bottom: 5em;
		padding: 0.5em 0;
	}
		#frases #busqueda input{
			border: 0;
			color: #000;
			overflow: hidden;
			padding: 0;
			width: 0;
		}
		#frases #busqueda span{
			color: #8A7D80;
			cursor: pointer;
			margin: 0 1em;
			font-size: 25px;
		}
#galery{
	margin-bottom: 1em;
}
#noticias{
	display: flex;
	-webkit-justify-content: space-around;
	ms-justify-content: space-around;
	justify-content: space-around;
}
	#noticias figure{
		margin-bottom: 1em;
		width: 30%;
	}
		#noticias figure h3{
			color: #C80601;
			text-align: center;
		}
		#noticias figure figcaption{
			text-align: justify;
		}
			#noticias figure figcaption a{
				color: #C80601;
				font-style: italic;
				font-weight: bold;
				text-decoration: none;
			}
			#noticias figure figcaption a:hover,#noticias figure figcaption a:active{
				text-decoration: underline;
			}
			#noticias figure figcaption p{
				color: #696969;
			}
#sesion{
	background: rgba(0,0,0,0.7);
}
	#sesion h2{
		border-bottom:1px solid #FEFEFE;
		margin: 1em 0 0 0;
		width: 8em;
	}
	#sesion .bupis{
		border-bottom: 1px solid #FEFEFE;
		margin-bottom: 1em;
	}
	#sesion .inus,.ubi,.tel{
		margin: 0 1em;
	}
	#todfrases h2,#todfrases h5{
		margin: 0;
	}
	#todfrases .item{
		margin:1em auto 0 auto;
		width: 90%;
	}
		#todfrases .item h2{
			font-size: 45px;
		}
		#todfrases .item h5{
			font-style: italic;
			font-weight: normal;
			font-size: 18px;
			text-align: right;
		}
		#todfrases .item article{
			margin: 2em 0;
			text-align: right;
		}
			#todfrases .item article a{
				border: 2px solid #fff;
				padding: 0.5em;
			}
			#todfrases .item article a:hover,#todfrases .item article a:active{
				background: #fff;
				color: #680001
			}
.ins_fra{
	background: url(../imagenes/fond_login.jpg) no-repeat center / cover;
	display: flex;
	color: #FEFEFE;
	margin-bottom: 1em;
}
	.ins_fra a{
		color: #FEFEFE;
		text-decoration: none;
	}
	.ins_fra #sesion{
		width: 30%;
	}
	.ins_fra #frases{
		width: 70%;
	}
		.inus form a:hover{
			text-decoration: underline;
		}
		.inus form div{
			text-align: right;
		}
		.inus form input{
			color: #000;
			margin: 0.5em 0;
			padding: 0.5em;
		}
		.inus form input[type=submit]{
			background: #fff;
			border:0;
			border-radius: 5px;
			color: #CA0602;
			font-weight: bold;
			margin-right: 1em;
			padding: 0.5em 2em;
		}
		.inus form input[type=submit]:hover{
			background: #680001;
			color: #fff;
		}
	.ubi p,.tel p,.tel h3{
		text-align: right;
	}
@media screen and (max-width: 800px){
		#noticias figure{
			width: 40%;
		}
		#todfrases .item h2{
			font-size: 35px;
		}
	.ins_fra{
		-webkit-flex-direction: column;
		ms-flex-direction: column;
		flex-direction: column;
	}
		.ins_fra #sesion,.ins_fra #frases{
			margin: 1em auto;
			width: 90%;
		}
}
@media screen and (max-width: 400px){
	#noticias{
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
		#noticias figure{
			margin: 0 auto;
			width: 90%;
		}
}