h1,h2{
	text-align: center;
}
section{
	margin-bottom: 1em;
}
#disbyn{
	background: #D30801;
	color: #fff;
	padding: 0.5em 0;
	text-decoration: none;
}
#disbyn:hover,#disbyn:active{
	background: #930200;
}
#mnad{
	display: flex;
	-weblkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
}
	#mnad a{
		background: #EDEDED;
		color: #000;
		padding: 0.5em;
		text-decoration: none;
	}
	#mnad a:hover,#mnad a:active{
		background: #930200;
		color: #fff;
	}
	.condiv div{
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		background: #930200;
		border-radius: 8px;
		display: flex;
		color: #fff;
		height: 5em;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		margin-bottom: 1em;
		padding: 0 0.5em;
	}
		.condiv div a{
			background: #000;
			color: #fff;
			padding: 0.5em;
			text-decoration: none;
		}
		.condiv div a:hover,.condiv div a:active{
			background: #202020;
		}
.doll{
	background: #000;
	color: #fff;
	text-decoration: none;
}
.doll:hover,.doll:active{
	background: #EDEDED;
	color: #000;
}
.flA{
	display: flex;
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
}
	.flA article{
		margin-bottom: 1em;
	}
.flB{
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}
	.flB figure{
		margin-bottom: 1em;
		width: 30%;
	}
.flC{
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
}
.htilf{
	-webkit-word-break: wrap;
	-ms-word-break: wrap;
	-moz-word-break: wrap;
	word-break: wrap;
	margin-bottom: 1em;
	width: 25%;
}
	.htilf h3,.flB figure h3{
		text-align: center;
	}
.oulcajas{
	overflow: hidden;
	height: 0;
}
@media screen and (max-width: 800px){
	#mnad{
		text-align: center;
	}
		#mnad a{
			border-bottom: 1px solid #ADADAD;
		}
		.condiv div{
			border-radius: 0;
		}
	.doll{
		padding: 0.5em 0;
	}
	.flA,#mnad,.flC,.flB{
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
		.flB figure{
			margin: 1em auto;
			width: 90%;
		}
	.htilf{
		width: 40%;
	}
}
@media screen and (max-width: 400px){
	.htilf{
		margin: 1em auto;
		width: 90%;
	}
}