h1,h2{
	text-align: center;
}
.flA{
	display: flex;
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
}
	.flA article{
		margin-bottom: 1em;
	}
@media screen and (max-width: 800px){
	.flA{
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}