@font-face{
	font-family: "rajdhani";
	src: url(fuentes/Rajdhani-Bold.ttf);
	font-weight: bold;
}
@font-face{
	font-family: "rajdhani";
	src: url(fuentes/Rajdhani-Light.ttf);
	font-weight: lighter;
}
@font-face{
	font-family: "rajdhani";
	src: url(fuentes/Rajdhani-Regular.ttf);
	font-weight: normal;
}
body{
	font-family: "rajdhani";
	font-size: 16px;
}
	figure img{
		width: 100%;
	}
footer{
	background: #D30801;
	color: #FFFFFF;
	padding-top: 2em;
}
	footer a{
		color: #fff;
		text-decoration: none;
	}
	footer a:hover,footer a:active{
		text-decoration: underline;
	}
		footer .bupis h2{
			border-bottom:2px solid #FEFEFE;
			margin: 0;
			width: 8em;
		}
	footer .flexfoot{
		display: flex;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
		padding-top: 1em;
	}
		footer .flexfoot article{
			display: flex;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
		}
			footer .flexfoot article a{
				padding: 0.5em 0;
			}
			footer .flexfoot article div{
				padding: 0.25em 0;
			}
	footer .footfin{
		background: #930200;
		padding: 1em 0;
	}
		footer .footfin .flfin{
			display: flex;
			-webkit-justify-content: space-between;
			-ms-justify-content: space-between;
			justify-content: space-between;
			font-size: 14px;
		}
			footer .footfin .flfin #redes{
				font-size: 30px;
			}
			footer .footfin .flfin #redes:hover,footer .footfin .flfin #redes:active{
				transform: scale(1.1);
			}
header{
	background: #EDEDED;
	display: flex;
}
	header #empr{
		width: 20%;
	}
	header #logo{
		margin: 0 auto;
		width: 70%;
	}
	header #mn_red{
		display: flex;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
		width: 80%;
	}
		header #mn_red #redes{
			display: flex;
			-webkit-justify-content: flex-end;
			-ms-justify-content: flex-end;
			justify-content: flex-end;
		}
			header #mn_red #redes a{
				color: #CF0300;
				font-size: 25px;
				margin: 0 0.5em;
				text-decoration: none;
			}
			header #mn_red #redes a:hover,header #mn_red #redes a:active{
				transform: scale(1.1);
			}
input[type=submit]{
	background: #D30801;
	border: 0;
	color: #fff;
	padding: 0.5em 0;
}
input[type=submit]:hover,input[type=submit]:active{
	background: #930200;
}
#automargen{
	margin: 0 auto;
	max-width: 1200px;
}
#mn_mv{
	color: #CB0601;
	cursor: pointer;
	display: none;
	font-size: 20px;
	transform: scale(1.5);
	text-align: center;
	width: 2em;
}
#mn_mv:hover,#mn_mv:active{
	transform: scale(1.6);
}
#mnP{
	display: flex;
}
	#mnP a{
		border-right: 1px solid #ADADAD;
		color: #CB0601;
		font-weight: bold;
		padding: 0 1em;
		text-decoration: none;
	}
	#mnP a:hover,#mnP a:active,.sell{
		border-bottom:3px solid #CC0802;
	}
	#mnP ul{
		display: flex;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		list-style: none;
		margin: 0;
		padding: 0;
		z-index: 35;
	}
		#mnP ul li{
			margin: 0;
		}
			#mnP ul li ul{
				background:#EDEDED;
				display: none;
				-webkit--ms-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				position: absolute;
				text-align: center;
			}
				#mnP ul li ul li{
					border-bottom: 1px solid #ADADAD;
					padding: 0.5em 0;
				}
				#mnP ul li ul a{
					border:0;
					font-weight: normal;
					padding: 0.5em 1em;
				}
		#mnP ul li:hover>ul{
			display: flex;
		}
	#mnP .sel{
		background: #002457;
		text-decoration: 0 0 3px #fff;
	}
	#mnV ul{
		list-style: none;
		margin: 0;
		padding: 0 0 0 0.5em;
	}
		#mnV ul li{
			border-bottom: 1px solid #DEDEDE;
			padding: 0.5em 0;
		}
			#mnV ul li a:hover{
				border-bottom: 1px solid #BF0400;
			}
			#mnV ul li ul{
				display: none;
			}
			#mnV ul li #flul{
				display: flex;
				justify-content: space-between;
			}
.bupis{
	border-bottom: 1px solid #FEFEFE;
	margin-bottom: 1em;
}
.columninput{
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center;
}
	.columninput input,.columninput select{
		text-align: center;
	}
.flmvycont{
	display: flex;
}
	.flmvycont section{
		padding: 0 1em;
		width: 75%;
	}
		.flmvycont section h1{
			text-align: center;
		}
	.flmvycont #mnV{
		background: #F4F4F4;
		color: #292929;
		font-size: 18px;
		width: 25%;
	}
		.flmvycont #mnV a{
			color: #292929;
			text-decoration: none;
		}
.porfond{
	background: #F4F4F4;
	padding: 2em 0;
}
	.porfond .prov{
		border-bottom:1px solid #000;
		border-top:1px solid #000;
	}
.submenbb{
	cursor: pointer;
	margin-right: 1em;
	transform: rotate(180deg);
	width: 20px;
}
.submenbb:hover,.submenbb:active{
	color: #D30801;
}
@media screen and (max-width: 1150px){
	#mn_mv{
		display: block;
	}
	#mnP{
		background: #EDEDED;
		height: calc(100% - 180px);
		left: -100%;
		overflow: scroll;
		position: fixed;
		top: 7em;
		width: 70%;
		z-index: 30;
	}
		#mnP a{
			border-right: 0;
			text-align: center;
		}
		#mnP ul{
			display: block;
			margin-top: 1em;
			width: 100%;
		}
			#mnP ul li{
				border-bottom:1px solid #0D4374;
				display: block;
				padding: 0.5em 0;
				text-align: left;
			}
				#mnP ul li ul{
					width: 100%;
					position: relative;
					z-index: 1;
				}
				#mnP ul li:hover ul{
					display: none;
				}
				#mnP ul li .submen{
					cursor: pointer;
					margin-top: -1em;
					position: absolute;
					right: 2em;
					transform: scale(1.5) rotate(180deg);
				}
				#mnP ul li .submen:hover,#mnP ul li .submen:active{
					transform: scale(2) rotate(180deg);
				}
}
@media screen and (max-width: 800px){
		footer .flexfoot,footer .footfin .flfin{
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			text-align: center;
		}
	header{
		top: 0;
		width: 100%;
		z-index: 30;
	}
		header #empr{
			width: 30%;
		}
		header #logo{
			width: 100%;
		}
		header #mn_red{
			width: 70%;
		}
		.flmvycont section{
			margin: 1em auto;
			width: 90%;
		}
		.flmvycont #mnV{
			display: none;
		}
}
@media screen and (max-width: 500px){
		header #empr{
			width: 40%;
		}
		header #mn_red{
			width: 60%;
		}
		#mnP{
			top: 5em;
		}
}